
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Jugador</h2>

<div class="text-center">
    <button class="btn btn-success m-3" onclick="showModal()">Agregar</button>
</div>
<div class="col-md-12">

    <table id="tablaEmpleado" class="table table-hover" border="1">
        <thead class="table-dark">
            <tr>
                <th class="text-center" scope="col"></th>
                <th class="text-center" scope="col">Foto</th>
                <th class="text-center" scope="col">Nombre</th>
                <th class="text-center" scope="col">Apellido Paterno</th>
                <th class="text-center" scope="col">Apellido Materno</th>
                <th class="text-center" scope="col">Pais</th>
                <th class="text-center" scope="col">Fecha de Nacimiento</th>
                <th class="text-center" scope="col">Posicion</th>
                <th class="text-center" scope="col">Equipo</th>
                <th class="text-center" scope="col"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="modalClose()">×</button>
                <h4 class="modal-title">Formulario Jugador</h4>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group d-flex justify-content-center m-2">
                        <input class="form-control" id="txtidJugador" placeholder="Id Jugador" type="hidden" />
                    </div>
                    <div class="form-group d-flex justify-content-center m-2">
                        <input type="text" class="form-control" id="txtnombre" placeholder="Nombre del Jugador" />
                    </div>
                    <div class="form-group d-flex justify-content-center m-2">
                        <input type="text" class="form-control" id="txtApellidoP" placeholder="Apellido Paterno " />
                    </div>
                    <div class="form-group d-flex justify-content-center m-2">
                        <input type="text" class="form-control" id="txtApellidoM" placeholder="Apellido Materno" />
                    </div>
                    <div class="form-group d-flex justify-content-center m-2">
                        <input type="text" class="form-control" id="txtFoto" placeholder="Foto" />
                    </div>
                    <div class="form-group d-flex justify-content-center m-2">
                        <select class="form-control" id="ddlpais">
                            <option value="0">Selecciona una Nacionalidad</option>
                        </select>
                    </div>
                    <div class="form-group d-flex justify-content-center m-2">
                        <input type="date" class="form-control" id="txtNacimiento" placeholder="Fecha de Nacimiento" />
                    </div>
                    <div class="form-group d-flex justify-content-center m-2">
                        <select class="form-control" id="ddlPosicion">
                            <option value="0">Selecciona una Posicion</option>
                        </select>
                    </div>
                    <div class="form-group d-flex justify-content-center m-2">
                        <select class="form-control" id="ddlequipo">
                            <option value="0">Selecciona un equipo</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success m-1" id="btnUpdate" onclick="guardar()">Guardar</button>
                <button type="button" class="btn btn-danger m-1" data-dismiss="modal" onclick="modalClose()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () { //click
        GetAll();
        GetAllPais();
        GetAllPosicion();
        GetAllEquipo();

    });
    function showModal() {
        $('#modal').modal("show");
    }

    function modalClose() {
        $('#modal').modal("hide");
    }

    function guardar() {
        var idJugador = $('#txtidJugador').val()
        if (idJugador == 0) {
            Add();
        } else {
            Update();
        }
    }

    function limpiarModal() {
        $('#txtidJugador').val('');
        $('#txtnombre').val('');
        $('#txtApellidoP').val('');
        $('#txtApellidoM').val('');
        $('#txtFoto').val('');
        $('#txtNacimiento').val('');
        $('#ddlpais option[value="0"]').attr("selected", true);
        $('#ddlPosicion option[value="0"]').attr("selected", true);
        $('#ddlequipo option[value="0"]').attr("selected", true);
    }


    function GetAll() {
        $.ajax({

            url: 'http://192.168.0.123/api/Jugador',
            type: 'GET',
            success: function (result) {
                console.log(result)
                $('#tablaEmpleado tbody').empty();
                $.each(result, function (i, jugador) {

                    var filas =
                        '<tr>'
                        + '<td class="text-center"> '
                        + '<button class="btn btn-outline-warning" onclick="GetById(' + jugador.idJugador + ')">'
                        + '<i class="fa-solid fa-pen-to-square fa-xl"></i>'
                        + '</button> '
                        + '</td>'
                        + "<td class='text-center'><img src='" + jugador.foto + "' alt='' width='50' height='50'> </td>"
                        + "<td class='text-center'>" + jugador.nombre + "</td>"
                        + "<td class='text-center'>" + jugador.apellidoPaterno + "</td>"
                        + "<td class='text-center'>" + jugador.apellidoMaterno + "</td>"
                        + "<td class='text-center'>" + jugador.nacionalidad.nombre + "</td>"
                        + "<td class='text-center'>" + jugador.fechaNacimiento + "</td>"
                        + "<td class='text-center'>" + jugador.posicion.nombre + "</td>"
                        + "<td class='text-center'>" + jugador.equipo.nombre + "</td>"
                        + '<td class="text-center"> <button class="btn btn-danger" onclick="Eliminar(' + jugador.idJugador + ')"><i class="fa-solid fa-ban fa-xl" style="color: #ffffff;"></i></button></td>'
                        + "</tr>";

                    $("#tablaEmpleado tbody").append(filas);
                });
            },
            error: function (result) {
                alert('Error en la consulta.' + result.responseJSON.ErrorMessage); //es un error de JSON, y es porque puede venir vacio o null
            }
        });
    };

    function GetAllPais() {
        $.ajax({
            url: 'http://192.168.0.123/api/Pais',
            type: 'GET',
            success: function (result) {
                console.log(result)
                $.each(result, function (i, pais) {
                    var filas =
                        '<option value="' + pais.idPais + '">' + pais.nombre + '</option>';
                    $("#ddlpais").append(filas);
                });
            },
            error: function (result) {
                alert('Error .' + result.responseJSON.ErrorMessage);
            }
        });
    }
    function GetAllPosicion() {
        $.ajax({
            url: 'http://192.168.0.123/api/Posicion',
            type: 'GET',
            success: function (result) {
                console.log(result)
                $.each(result, function (i, posicion) {
                    var filas =
                        '<option value="' + posicion.idPosicion + '">' + posicion.nombre + '</option>';
                    $("#ddlPosicion").append(filas);
                });
            },
            error: function (result) {
                alert('Error .' + result.responseJSON.ErrorMessage);
            }
        });
    }
    function GetAllEquipo() {
        $.ajax({
            url: 'http://192.168.0.123/api/Equipo/GetAll',
            type: 'GET',
            success: function (result) {
                console.log(result)
                $.each(result, function (i, equipo) {
                    var filas =
                        '<option value="' + equipo.idEquipo + '">' + equipo.nombre + '</option>';
                    $("#ddlequipo").append(filas);
                });
            },
            error: function (result) {
                alert('Error .' + result.responseJSON.ErrorMessage);
            }
        });
    }


    function Eliminar(idJugador) {
        if (confirm("Estas seguro de eliminar el Jugador ")) {
            $.ajax({
                type: 'DELETE',
                url: 'http://192.168.0.123/api/Jugador/'+idJugador,
                success: function (result) {
                    $('#myModal').modal();
                    GetAll();
                },
                error: function (result) {
                    alert('Error en la consulta.' + result.responseJSON.ErrorMessage);
                }
            });
        };
    };
    function GetById(idJugador) {
        $.ajax({
            type: 'GET',
            url: 'http://192.168.0.123/api/Jugador/' + idJugador,
            success: function (result) {
                limpiarModal();
                $('#txtidJugador').val(result.idJugador);
                $('#txtnombre').val(result.nombre);
                $('#txtApellidoP').val(result.apellidoPaterno);
                $('#txtApellidoM').val(result.apellidoMaterno);
                $('#txtFoto').val(result.foto);
                $('#txtNacimiento').val(result.fechaNacimiento);
                $("#ddlpais option[value='" + result.nacionalidad.idPais + "']").attr("selected", true);
                $("#ddlPosicion option[value='" + result.posicion.idPosicion + "']").attr("selected", true);
                $("#ddlequipo option[value='" + result.equipo.idEquipo + "']").attr("selected", true);
                $('#modal').modal('show');
            },
            error: function (result) {
                alert('Error en la consulta.' + result.responseJSON.ErrorMessage);
            }
        });
    }

    function Update() {
        var jugador = {
            jugador: {
                idJugador: $('#txtidJugador').val(),
                nombre: $('#txtnombre').val(),
                apellioPaterno: $('#txtApellidoP').val(),
                apellidoMaterno: $('#txtApellidoM').val(),
                foto: $('#txtFoto').val,
                nacionalidad: {
                    idPais: $('#ddlpais').val()
                },
                fechaNacimiento: $('#txtNacimiento').val(),
                posicion: {
                    idPosicion: $('#ddlPosicion').val()
                }
            },
            equipo: {
                idEquipo: $('#ddlequipo').val()
            }
        }
        $.ajax({
            type: 'PUT',
            url: 'http://192.168.0.123/api/Jugador/' + jugador.idJugador,
            contentType: 'application/json', // Aquí se establece el Content-Type
            data: JSON.stringify(jugador),
            success: function (result) {
                alert("Jugador ha actualizado correctamente");
                modalClose();
                limpiarModal();
                GetAll();
            },
            error: function (result) {
                alert('Error en la consulta.' + result.responseJSON.ErrorMessage);
            }
        });
    }

    function Add() {
        var jugador = {
            jugador: {
                nombre: $('#txtnombre').val(),
                apellioPaterno: $('#txtApellidoP').val(),
                apellidoMaterno: $('#txtApellidoM').val(),
                foto: $('#txtFoto').val,
                nacionalidad: {
                    idPais: $('#ddlpais').val()
                },
                fechaNacimiento: $('#txtNacimiento').val(),
                posicion: {
                    idPosicion: $('#ddlPosicion').val()
                }
            },
            equipo: {
                idEquipo: $('#ddlequipo').val()
            }
        }
        $.ajax({

            url: 'http://192.168.0.123/api/Jugador',
            type: 'POST',
            contentType: 'application/json', // Aquí se establece el Content-Type
            data: JSON.stringify(jugador), // Asegúrate de convertir tu objeto a una cadena JSON
            success: function (result) {
                alert("Jugador dado de alta correctamente");
                modalClose();
                limpiarModal();
                GetAll();
            },
            error: function (result) {
                console.log(result);
                alert('Error en la consulta.' + result.responseJSON.ErrorMessage); //es un error de JSON, y es porque puede venir vacio o null
            }
        });
    }

</script>


